*{
	margin:0px;
	padding:0px;
	font-size:12px;	
}

.top{
	height:25px;
	background: url(../images/top_bg.jpg) ;
	background-size:100% 100%;
	vertical-align: center;
}

.top a{
	font-family: "MicrosoftYaHei","微软雅黑";
	font-size: 10px;
	color: #999;
	padding-left:15px;
	line-height:25px;
	font-weight: bold;
}

.wrap{
	width:100%;
}

.logo{
	width:1000px;
	margin:0 auto;
	height:50px;
	background:#e8e8e8;
}

.logo  span{
	width: 25%;
	float: left;
	font-size: 14px;
	border-bottom: 2px solid #999;
	text-align:center;
	background: url(../images/news2.jpg) no-repeat right center;
}

.logo a{
	font-size: 23px;
	font-weight: bold;
	line-height: 50px;
	text-align:center;
	text-decoration:none;
	font-family: "MicrosoftYaHei";
	border-bottom: 2px solid #999;
	text-align:center;
	background: url(../images/line.png) no-repeat right center;
}



.logo .logo_main_visited{
	border-bottom: 2px solid #f00;
	font-size: 16px;
	color:blue;
}

.logo .logo_main_visited a{
	font-size: 28px;
}


.main{
	width: 100%;
	margin:0 auto;
	padding-left: 200px;
	margin-top: 100px;
}

.work{
	width: 800px;
	margin:0 auto;
}


.ad{
	margin:0 auto;
	margin-top:100px;
	width:98%;
	height: 310px;
	overflow: hidden;/*溢出隐藏*/
	margin-bottom: 100px;
}

.my_video{
	margin-top: 300px;
	width: 900px;
	height: 600px;
	margin:0 auto;
	background: #f00;
}

.mainlist_item{
	display:none;
}

.mainlist_item_show{
	display:block;
}

